<p>
  <b>User:</b>
  <%=h @landmark_visit.user_id %>
</p>

<p>
  <b>Landmark:</b>
  <%=h @landmark_visit.landmark_id %>
</p>


<%= link_to 'Edit', edit_landmark_visit_path(@landmark_visit) %> |
<%= link_to 'Back', landmark_visits_path %>