/*@import "blueprint";*/
/* line 3, ../../app/stylesheets/viewer.scss */
body {
  /*  @include container;*/
  margin: 0;
  color: #5A5858;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* line 10, ../../app/stylesheets/viewer.scss */
#map {
  /*  @include column(24, true);*/
  height: 100%;
  width: 100%;
  position: fixed;
  background: #eee;
}

/* line 19, ../../app/stylesheets/viewer.scss */
svg {
  display: block;
  overflow: hidden;
}

/* line 23, ../../app/stylesheets/viewer.scss */
.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

/* line 28, ../../app/stylesheets/viewer.scss */
.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

/* line 33, ../../app/stylesheets/viewer.scss */
.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* line 41, ../../app/stylesheets/viewer.scss */
.compass .direction {
  fill: none;
}

/* line 45, ../../app/stylesheets/viewer.scss */
.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

/* line 51, ../../app/stylesheets/viewer.scss */
.compass .zoom .chevron {
  stroke-width: 4px;
}

/* line 55, ../../app/stylesheets/viewer.scss */
.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

/* line 59, ../../app/stylesheets/viewer.scss */
.compass.active .active .direction {
  fill: #999;
}

/* line 63, ../../app/stylesheets/viewer.scss */
.panel {
  position: absolute;
  padding: 0;
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
}

/* line 70, ../../app/stylesheets/viewer.scss */
#user-panel {
  top: 0;
  right: 0;
  border-top: 0px;
  border-right: 0px;
  -moz-border-radius-bottomleft: 5px;
  /*  -moz-border-radius-bottomright: 5px;*/
  -webkit-border-bottom-left-radius: 5px;
  /*  -webkit-border-bottom-right-radius: 5px;*/
}

/* line 80, ../../app/stylesheets/viewer.scss */
#user-panel li {
  float: left;
  list-style: none;
  margin: 6px 0;
  padding: 2px 8px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #ffffff;
}

/* line 88, ../../app/stylesheets/viewer.scss */
#user-panel li:last-child {
  border-right: 0px;
}

/* line 92, ../../app/stylesheets/viewer.scss */
#travel-panel {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 98, ../../app/stylesheets/viewer.scss */
#places-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

/* line 107, ../../app/stylesheets/viewer.scss */
.placard {
  width: 200px;
  height: 30px;
  text-align: center;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #ffffff;
}

/* line 114, ../../app/stylesheets/viewer.scss */
.placard .number {
  /*  font-weight: bold;*/
}

/* line 117, ../../app/stylesheets/viewer.scss */
.placard {
  text-transform: uppercase;
  font-size: 14pt;
  font-weight: bold;
}

/* line 123, ../../app/stylesheets/viewer.scss */
#travel-panel .placard {
  float: right;
}

/* line 136, ../../app/stylesheets/viewer.scss */
#places-panel .placard {
  float: left;
}

/* line 148, ../../app/stylesheets/viewer.scss */
#landmarks-panel {
  right: 404px;
  bottom: 30px;
  width: 200px;
  height: 200px;
  bottom-border: 0;
  overflow-y: auto;
  background: #fff;
}

/* line 160, ../../app/stylesheets/viewer.scss */
#landmarks-list li {
  min-height: 28px;
  padding-left: 20px;
  list-style: none;
  background: url("/images/landmark-icon.png") no-repeat left top;
}

/* line 166, ../../app/stylesheets/viewer.scss */
#landmarks-list li.mouseover {
  background-color: #ffffcc;
}

/* line 169, ../../app/stylesheets/viewer.scss */
#landmarks-list li .buttons {
  display: none;
  font-size: 10pt;
}

/* line 173, ../../app/stylesheets/viewer.scss */
#landmarks-list li .buttons .ui-button-text {
  font-size: 10pt;
  font-weight: normal;
  padding: 0 6px 0 6px;
}

/* line 179, ../../app/stylesheets/viewer.scss */
a, a:visited {
  color: #1b75bb;
  text-decoration: none;
}

/* line 183, ../../app/stylesheets/viewer.scss */
a:hover {
  text-decoration: underline;
}

/* MAP */
/* line 188, ../../app/stylesheets/viewer.scss */
#landmark-layer path {
  fill: #ab53de;
  stroke: #fff;
  stroke-width: 2px;
}

/* line 193, ../../app/stylesheets/viewer.scss */
#landmark-layer text {
  fill: #ab53de;
  /*  stroke: #fff;*/
  /*  stroke-width: 1px;*/
}

/* line 199, ../../app/stylesheets/viewer.scss */
#estimate-layer path {
  stroke-width: 2px;
}

/* line 202, ../../app/stylesheets/viewer.scss */
#estimate-layer path.actual-line {
  stroke: red;
}

/* line 205, ../../app/stylesheets/viewer.scss */
#estimate-layer path.estimated-line {
  stroke: green;
}

/* LANDMARKS QUESTIONNAIRE */
/* line 210, ../../app/stylesheets/viewer.scss */
#landmark-questionnaire-list li {
  min-height: 28px;
  padding-left: 20px;
  margin-bottom: 1em;
  list-style: none;
  background: url("/images/landmark-icon.png") no-repeat left top;
}

/* line 217, ../../app/stylesheets/viewer.scss */
#landmark-questionnaire-list li .ui-button-text {
  font-size: 12pt;
  font-weight: normal;
}
