<% content_for :head do %>
<script type="text/javascript">

</script>

<style>

</style>
<% end -%>
<% content_for :content do %>
<div class="span-24 last">
  <h2>Map Arrangement</h2>
</div>
<% end -%>
<%= render :partial => 'layouts/base' %>