.day {
  padding: 6px;
}
.current {
  background: #F0C755;
}
.day li {
  font-size: 12pt;
  list-style: none;
  padding-bottom: 14px;
  padding-left: 40px;
  background: url('/images/checkbox-unchecked.png') left center no-repeat;
}
.day li.checked {
  background: url('/images/checkbox-checked.png') left center no-repeat;
}

form li {
  list-style: none;
}